.skipnav {
    background-color: #000;
    padding: 1%;
    color: #fff;
}
.logo {
    height: 100px;
    margin: none;
}
.logomain {
    height: 20%;
}
.shortIntro {
    margin: 1%;
}
nav {
    background-color: #2f4f4f;
    position: relative;
    height: 110px;
}
nav ul {
    margin: auto;
}
nav ul li {
    float: right;
    text-decoration: none;
    display: inline;
    font-size: 200%;
    margin: 2%;
    color: #000;
    cursor: pointer;
}
nav ul a:hover li {
    text-decoration: none;
    color: #000080;
}
nav ul a:hover li ul li {
    color: #000000;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgb(119, 136, 153);
    padding: 1%;
    border-radius: 0px 0px 5px 5px;
}
nav ul li ul li {
    font-size: 50%;
    border-radius: 0px;
    width: 100%;
    padding: 5%;
}
nav ul li ul li:hover {
    background-color: rgb(139, 156, 173);
}
nav ul li:hover ul {
    background-color: rgb(119, 136, 153);
    display: block;
}
.megasales {
    margin: 1%;
    padding: 1%;
    border-radius: 7px;
    background-color: #5f9ea0;
    color: #000;
}
i {
    margin: 0.5%;
}
.footer a {
    color: rgb(119, 136, 153, 0.7);
}
.footer a:hover {
    color: rgb(119, 136, 153);
}
.aboutjorgeent {
    margin: 1%;
}
button {
    background-color: #696969; /*DO FUNNY NUMBER HAHAHAHAHAHAH LOL*/
    color: white;
}